*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #F5E4D7;
}

header{
    display: flex;
    background: #73877B;
    font: 400 40px 'Bahiana', sans-serif;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    transition: all 0.4s;
    border: 5px solid #466060;
}

.logo:hover{
    transform: scale(1.1);
}

a{
    color: black;
    text-decoration: none;
    justify-content: center;
}

a:hover{
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

li{
    font-size: 3rem;
    margin: 10px;
    padding: 5px;
}

.titulo{
    font-size: 4.5rem;
    color: #466060;
    text-align: center;
}

.subtitulo{
    color: white;
    font-size: 3.5rem;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.logo-titulo{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-height: 150px;
}

section{
    display: flex;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.imagenes{
    width: 40%;
    object-fit: cover;
    border-radius: 10%;
}

.flecha{
    height: 10%;
    width: 10%;
}

h1{
    font-weight: 200;
}

main{
    background: #73877B;
    color: white;
    font: 400 40px 'Bahiana', sans-serif;
    margin: 5%;
    padding: 5%;
    text-align: center;
    border-radius: 30px;
    justify-content: space-around;
}

footer{
    display: flex;
    background: #73877B;
    align-items: center;
    font: 600 25px 'Literata', sans-serif;
    justify-content: space-around;
    flex-wrap: wrap;
}

.integrantes-footer {
    flex-basis: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
}

footer div{
    margin: 10px;
}

.foto-uade{
    max-width: 500px;
    max-height: 200px;
    transition: all 0.4s;
}

.foto-uade:hover{
    transform: scale(1.1);
}

.imagen-main{
    width: 50%;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    transition: all 0.4s;
}

.fotos{
    border-radius: 100%;
    border: 5px solid #466060;
    transition: all 0.4s;
    width: 150px; 
    height: 150px; 
    object-fit: cover;
}

.fotos:hover{
    transform: scale(1.1);
}

.fotos-container .fotos {
    width: 30%; 
    height: 30%; 
    object-fit: cover;
}

.fotos-container{
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}

.integrantes-main {
    flex: 1; 
    text-align: center;
}

@media (max-width: 768px){

    footer {
        flex-direction: column;
        text-align: center;
    }

    .container {
        text-align: center;
        align-items: center;
    }

    .integrantes-main {
        width: 5%;
    }

    .fotos {
        width: 100px; 
        height: 100px; 
        object-fit: cover;
    }

    h1{
        font-size: 3rem;
    }

    .nombres{
        font-size: 2rem;
    }

}