.inicio, .inicio * {
    box-sizing: border-box;
    }
.inicio {
    background: #f5e4d7;
    width: 1440px;
    height: 1552px;
    position: relative;
    overflow: hidden;
    zoom: 95%;
   }

.rectangle-1 {
    background: #73877b;
    width: 1440px;
    height: 106.55px;
    position: absolute;
    left: 0px;
    top: 1445px;
   }

.foto-uade {
    border-radius: 140.5px;
    width: 312px;
    height: 180px;
    position: absolute;
    left: 1146px;
    top: 1410px;
    transition: all 0.4s;
    }

.foto-uade:hover{
    transform: scale(1.1);
    }

.tomas-marzio {
    color: #000000;
    text-align: center;
    font: var(--footer, 800 25px 'Literata', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 51px;
    top: 1476px;
    width: 242px;
    height: 46.02px;
   }

.federico-shaw {
    color: #000000;
    text-align: center;
    font: var(--footer, 800 25px 'Literata', sans-serif);
    text-align: center;
    font: 800 25px 'Literata', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 332px;
    top: 1476px;
   }

.gerardo-cervantes {
    color: #000000;
    text-align: center;
    font: var(--footer, 800 25px 'Literata', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 567px;
    top: 1475px;
    width: 353px;
    height: 46.02px;
   }

.agustin-bodas {
    color: #000000;
    text-align: center;
    font: var(--footer, 800 25px 'Literata', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 902px;
    top: 1473px;
    width: 285px;
    height: 44.53px;
   }

.agustin-bodas2 {
    color: #ffffff;
    text-align: left;
    font: 400 80px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 162px;
    top: 945px;
    }

.rectangulo-main {
    border-radius: 30px;
    position: absolute;
    left: 66px;
    top: 686px;
    width: 1308px;
    height: 672px;
    background: #73877B;
   }

.texto-datos {
    color: #ffffff;
    text-align: left;
    font: var(--texto, 400 80px 'Bahiana', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 315px;
    top: 894px;
    width: 810px;
   }

.datos-del-equipo {
    color: #ffffff;
    font: 400 100px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 494px;
    top: 670px;
   }

.imagen-botella-1 {
    border-radius: 50px;
    width: 555px;
    height: 344px;
    position: absolute;
    left: 81px;
    top: 280px;
    transition: all 0.4s;
    }

.imagen-botella-1:hover{
    transform: scale(1.05);
    }
    
.imagen-botella-2 {
    border-radius: 50px;
    width: 555px;
    height: 344px;
    position: absolute;
    left: 803px;
    top: 280px;
    transition: all 0.4s;
    }

.imagen-botella-2:hover{
    transform: scale(1.05);
    }

.flecha {
    width: 125px;
    height: 100px;
    flex-shrink: 0;
    stroke-width: 15px;
    stroke: #466060;
    left: 657px;
    top: 400px;
    position: absolute;
    }

.rectangulo-header {
    background: #73877b;
    width: 1441px;
    height: 182px;
    position: absolute;
    left: 0px;
    top: 36px;
   }

.inicio2 {
    color: #000000;
    text-align: center;
    font: 400 50px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 737px;
    top: 66px;
    width: 95px;
   }

.inicio2:hover{
    color: white;
    }

.integrantes {
    color: #000000;
    text-align: center;
    font: var(--subtitulo, 400 50px 'Bahiana', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 884px;
    top: 66px;
   }

.integrantes:hover{
    color: white;
    }

.sitio {
    color: #000000;
    text-align: center;
    font: var(--subtitulo, 400 50px 'Bahiana', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 1281px;
    top: 66px;
    width: 95px;
   }

.sitio:hover{
    color: white;
    }

.proyecto {
    color: #000000;
    text-align: center;
    font: var(--subtitulo, 400 50px 'Bahiana', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 1105px;
    top: 66px;
   }

.proyecto:hover{
    color: white;
    }   

.logo {
    border-radius: 123.5px;
    border-style: solid;
    border-color: #73877b;
    border-width: 5px;
    width: 159px;
    height: 159px;
    position: absolute;
    left: 82px;
    top: 45px;
    transition: all 0.4s;
   }

.logo:hover{
    transform: scale(1.1);
    }

.titulo {
    text-align: center;
    position: absolute;
    left: 236px;
    top: 59px;
    width: 500px;
    height: 89px;
    color: #466060;
    font: 400 60px 'Bahiana', sans-serif;
    text-transform: uppercase;
   }

.subtitulo {
    color: #ffffff;
    text-align: center;
    font: var(--subtitulo, 400 50px 'Bahiana', sans-serif);
    text-transform: uppercase;
    position: absolute;
    left: 150px;
    top: 148px;
    width: 1123px;
    height: 41px;
   }

.gerardo-cervantes2 {
    color: #ffffff;
    text-align: left;
    font: 400 80px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 103px;
    top: 1249px;
    }

.foto-3 {
    border-radius: 100px;
    border-style: solid;
    border-color: #466060;
    border-width: 7px;
    width: 196px;
    height: 202px;
    position: absolute;
    left: 216px;
    top: 1047px;
    transition: all 0.4s;
    }

.foto-3:hover{
    transform: scale(1.1)
    }  

.federico-shaw2 {
    color: #ffffff;
    text-align: left;
    font: 400 80px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 971px;
    top: 945px;
    }

.foto-2 {
    border-radius: 100px;
    border-style: solid;
    border-color: #466060;
    border-width: 7px;
    width: 196px;
    height: 193px;
    position: absolute;
    left: 1027px;
    top: 733px;
    transition: all 0.4s;
    }

.foto-2:hover{
    transform: scale(1.1)
    }  

.agustin-bodas2 {
    color: #ffffff;
    text-align: left;
    font: 400 80px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 162px;
    top: 945px;
    }

.foto-1 {
    border-radius: 100px;
    border-style: solid;
    border-color: #466060;
    border-width: 7px;
    width: 196.17px;
    height: 200px;
    position: absolute;
    left: 216px;
    top: 733px;
    transition: all 0.4s;
    }

.foto-1:hover{
    transform: scale(1.1)
    }   

.tomas-marzio2 {
    color: #ffffff;
    text-align: left;
    font: 400 80px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 985px;
    top: 1249px;
    }

.foto-4 {
    border-radius: 100px;
    border-style: solid;
    border-color: #466060;
    border-width: 7px;
    width: 196.17px;
    height: 200px;
    position: absolute;
    left: 1027px;
    top: 1037px;
    transition: all 0.4s;
    }

.foto-4:hover{
    transform: scale(1.1)
    }  

.imagen-main {
    border-radius: 138px;
    width: 276px;
    height: 292px;
    position: absolute;
    left: 582px;
    top: 891px;
    }

.integrantes2 {
    color: #ffffff;
    font: 400 100px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 551px;
    top: 670px;
    }

.participantes, .participantes * {
    box-sizing: border-box;
    }
.participantes {
    background: #f5e4d7;
    width: 1440px;
    height: 1552px;
    position: relative;
    overflow: hidden;
    zoom: 95%;
    }

.proyecto3 {
    color: #ffffff;
    text-align: left;
    font: 400 100px 'Bahiana', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 597px;
    top: 670px;
    }

.proyecto2, .proyecto2 * {
    box-sizing: border-box;
    }
.proyecto2 {
    background: #f5e4d7;
    width: 1440px;
    height: 1552px;
    position: relative;
    overflow: hidden;
    zoom: 95%;
    }

.rectangulo-texto {
    background: #73877b;
    width: 1166px;
    height: 480px;
    position: absolute;
    left: 136px;
    top: 833px;
    overflow-y: scroll;
    color: #ffffff;
    text-align: left;
    font: var(--texto, 400 80px 'Bahiana', sans-serif);
    text-transform: uppercase;
    }

::-webkit-scrollbar{
    width: 15px;
    }

::-webkit-scrollbar-track{
    background: #73877b;
    }

::-webkit-scrollbar-thumb{
    background: #f5e4d7;
    border-radius: 50px;
    }

::-webkit-scrollbar-thumb:hover{
    background:#466060;
    }



