@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.foto1,
.icon4,
.icon5 {
  position: absolute;
  width: 866.45px;
  height: 620px;
}
.icon4 {
  top: 4px;
  left: 30px;
  object-fit: cover;
}
.foto1,
.icon5 {
  top: -4px;
  left: -30px;
}
.icon5 {
  top: 0;
  left: 0;
  width: 1470px;
  height: 1028px;
  object-fit: cover;
}
.contacto5 {
  position: absolute;
  top: 306px;
  left: 565px;
  font-weight: 500;
  display: inline-block;
  width: 343px;
  height: 39px;
  -webkit-text-stroke: 1px #000;
}
.rectangulo-header-icon4 {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: var(--br-31xl);
  width: 1444px;
  height: 129px;
}
.rectangle-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 252px;
  height: 59px;
}
.estudios6 {
  position: absolute;
  top: 12.42px;
  left: 66.6px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inconsolata);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 115.2px;
  height: 26.39px;
}
.rectangle-parent22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 35px;
  left: 596px;
  width: 252px;
  height: 59px;
  opacity: 1;
}
.contacto-inner.animate,
.rectangle-parent22.animate,
.rectangle-parent23.animate,
.rectangle-parent25.animate,
.rectangle-parent26.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.informacin-personal8 {
  position: absolute;
  top: 3px;
  left: 29px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inconsolata);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 195px;
  height: 47px;
}
.rectangle-parent23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32px;
  left: 317px;
  width: 252px;
  height: 59px;
  opacity: 1;
}
.rectangle-icon27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 252px;
  height: 55.58px;
}
.experiencia4 {
  margin: 0;
}
.experiencia-laboral6 {
  position: absolute;
  top: 0;
  left: 36px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inconsolata);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 196.2px;
  height: 59px;
}
.rectangle-parent25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32px;
  left: 891px;
  width: 252px;
  height: 59px;
  opacity: 1;
}
.contacto6 {
  position: absolute;
  top: 0;
  left: 36px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inconsolata);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 196.2px;
  height: 52.79px;
}
.rectangle-icon29,
.rectangle-parent26 {
  position: absolute;
  width: 252px;
  height: 59px;
  cursor: pointer;
}
.rectangle-parent26 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 35px;
  left: 1173px;
  opacity: 1;
}
.rectangle-icon29 {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
}
.inicio5 {
  position: absolute;
  top: 18px;
  left: 16px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inconsolata);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 219.6px;
  height: 52.79px;
}
.rectangle-parent27 {
  position: absolute;
  top: 35px;
  left: 38px;
  width: 252px;
  height: 70.79px;
  cursor: pointer;
}
.contacto-inner,
.rectangulo-header-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1444px;
  height: 129px;
}
.contacto-inner {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: -4px;
  left: -4px;
  opacity: 1;
}
.a4525f5546ddca7e1fcbc86-1-icon,
.icone-outlook-bleue-1 {
  position: absolute;
  top: 581px;
  left: 383px;
  width: 181px;
  height: 181px;
  object-fit: cover;
}
.icone-outlook-bleue-1 {
  left: 607px;
  width: 221px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-32xl);
  background-color: var(--color-gray);
  width: 757px;
  height: 445px;
}
.email-gecervantesuadeeduar1 {
  margin-bottom: 0;
}
.email-gecervantesuadeeduar {
  margin: 0;
  padding-left: var(--padding-21xl);
}
.f3 {
  position: absolute;
  top: 36px;
  left: 22px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d9d9d9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 709px;
  height: 402px;
}
.rectangle-parent28 {
  position: absolute;
  top: 356px;
  left: 326px;
  width: 757px;
  height: 445px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.contacto4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
