/* Fondo y fuente principal */
body {
  background: #132626; /* Fondo verde oscuro */
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
}

/* Enlaces */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #4A90E2; /* Azul para los enlaces */
}

/* Título */
.titulo {
  background: #1E7B78; /* Verde azulado oscuro */
  color: #F2F2F2;
  font: 900 40px 'Arial', sans-serif;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  letter-spacing: 5px;
  margin: 20px;
}

/* Barra de navegación */
nav {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Lista de botones */
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Botones */
.botones {
  background: #1E7B78; /* Verde azulado oscuro */
  color: #F2F2F2;
  font: 700 18px 'Arial', sans-serif;
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 30px; /* Bordes más redondeados */
  transition: all 0.4s;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

.botones:hover {
  transform: scale(1.05);
  background: #4A90E2; /* Azul en hover */
}

/* Sección */
section {
  color: #1E7B78; /* Verde azulado oscuro */
  font: 700 24px 'Arial', sans-serif;
  letter-spacing: 5px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

/* Imagen */
.foto {
  width: 30%;
  border-radius: 20px;
}

/* Contenido principal */
main {
  background: #1E7B78; /* Verde azulado oscuro */
  color: #F2F2F2;
  text-align: center;
  font: 400 20px 'Arial', sans-serif;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  letter-spacing: 2px;
  line-height: 150%;
}

/* Selector de etiquetas */
label {
  display: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  ul {
    flex-direction: column-reverse;
  }

  label {
    display: none;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    background-color: #1E7B78; /* Verde azulado oscuro */
    border-radius: 5px;
    color: #F2F2F2;
    width: 10%;
    height: 10%;
    text-align: center;
    line-height: 65px;
    transition: all 0.4s;
  }

  label:hover {
    transform: scale(1.1);
  }

  .foto {
    width: 50%;
  }
}
